@import '../../stylesheets/base/variables.scss';

.homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex: 1;
    padding: $regular-padding $regular-padding;
    @media screen and (max-width: $mobile-width) {
        padding: 0px $mobile-padding;
    }
}

.homeIntro {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $screen-lg) {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 30px;
    }
}

.introText {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: $kh-gray;
    max-width: 100%;

    span {
        font-size: 18px;
        color: $kh-gold;
        font-family: 'Roboto', monospace;
    }

    h2 {
        margin: 0 0;
        color: $kh-lilac;
        font-size: 80px;
    }

    h3 {
        margin: 0 0;
        opacity: .7;
        font-size: 45px;
    }

    p {
        width: 80%;
        line-height: 1.4;
        padding-bottom: 20px;
    }


    @media screen and (max-width: $mobile-width) {
        h2 {
            font-size: 45px;
        }
        h3 {
            font-size: 32px;
        }
    }
}

.contactButton {
    cursor: pointer;
    width: 200px;
    height: 60px;
    font-size: 16px;
    color: $kh-gold;
    font-family: 'Roboto', monospace;
    background: transparent;
    border: solid 1px $kh-gray;
    border-radius: 4px;
    :focus {
        outline: none;
    }
}

.portraitImgContainer {
    opacity: .3;
    min-width: 50%;
    height: auto;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        filter: grayscale(1) blur(.5px);
    }

    --mask: linear-gradient(to bottom,
        rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 0) 100% 50% / 100% 100% repeat-x;

    -webkit-mask: var(--mask);
    mask: var(--mask);

    @media screen and (max-width: $screen-lg) {
        padding-top: 20px;
        width: 100%;
    }
}
