@import '../../stylesheets/base/variables.scss';
@import '../../stylesheets/base/common.scss';

.pageWrapper {
    position: relative;
    z-index: 2;
}

.contactInfo {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    h1 {
        font-size: 62px;
        color: $kh-lilac;
    }
    p {
        color: $kh-gray;
        font-size: 20px;
        max-width: 500px;
    }
     @media screen and (max-width: $mobile-width) {
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 16px;
        }
    }
}

.contactButtons {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    width: 100%;
    max-width: 500px;
    @media screen and (max-width: $mobile-width) {
        flex-direction: column;
        align-items: center;
        height: 200px;
        .contactButton {
            width: 300px !important;
        }
    }
}