$kh-black: #1E1E1E;
$kh-gray: #8E8E8E;
$kh-indigo: #460673;
$kh-violet: #230344;
$kh-lilac: #BE97C6;
$kh-gold: #98821e;

// screen-sizes
$mobile-width: 640px;
$tablet-width: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;

//padding
$regular-padding: 80px;
$mobile-padding: 30px;
