@import '../../stylesheets/base/variables.scss';

.navBar {
    color: $kh-lilac;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;

    h1 {
        margin-left: $mobile-padding;
    }

    ul {
        font-family: 'Roboto Mono', monospace;
        display: flex;
        align-items: center;
        margin-right: $mobile-padding;
    }

    li {
        list-style-type: none;
        margin: 0px 10px;
    }

    @media screen and (max-width: $mobile-width) {
        h1 {
            font-size: 20px;
        }
        li {
            font-size: 12px;
        }
    }
}