@import '../../stylesheets/base/variables.scss';

.navBar {
    position: relative;
    z-index: 2;
    color: $kh-lilac;
    display: flex;
    justify-content: space-between;
    width: 100%;

    h1 {
        margin-left: $mobile-padding;
        font-family: "Gorehand";
        font-size: 48px;
    }

    a {
        text-decoration: none;
        color: $kh-gold;
        :visited {
            color: $kh-gold;
        }
    }

    .underline {
        text-decoration: underline;
    }

    ul {
        font-family: 'Roboto Mono', monospace;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        margin-right: $mobile-padding;
    }

    li {
        list-style-type: none;
        margin: 0px 10px;
    }

    li.selected {
        list-style-type: none;
        font-size: 22px;
        font-weight: 700;
        text-decoration: underline;
        color: $kh-gold;
    }

    @media screen and (max-width: $mobile-width) {
        h1 {
            font-size: 30px;
        }
        li {
            font-size: 12px !important;
        }
    }
}