@import '../../stylesheets/base/variables.scss';
@import '../../stylesheets/base/common.scss';

.workContent {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
    h1 {
        font-size: 42px;
        color: $kh-lilac;
    }
}

.workProjects {
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;

    @media screen and (max-width: $screen-lg) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $mobile-width) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.contributionsContent {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;

    h2 {
        font-size: 36px;
        color: $kh-lilac;
    }
}

.contributionsImgContainer {
    width: 80%;
    margin: 0 auto;
    img {
        width: 100%;
        height: auto;
    }
}